<%= form_with model: @board do |f| %>
    <div class="mx-2 form-group">
        <%= f.label :title, '投稿タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
        <small id="title-tip" class="form-text text-muted">
            タイトルを入力してください。
        </small>
    </div>
    <div class=" mx-2 form-group">
        <%= f.label :body, '投稿内容' %>
        <%= f.text_area :body, class: 'form-control', rows:10 %>
        <small id=content-tip" class="form-text text-muted">
            投稿内容を入力してください。
        </small>
    </div>
    <%= f.submit '保存', class: 'btn btn-info mx-auto d-block btn-outline-secondary' %>
<% end %>
