<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= favicon_link_tag('favicon.png') %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Sawarabi+Gothic" rel="stylesheet">
  </head>

  <body>
    <div class="html container-fluid">
      <%= render 'header' %>
      <div class="center-block">
        <% flash.each do |type, msg| %>
          <% type = 'success' if type == 'success' %>
          <% type = 'error' if type == 'danger' %>
          <script>
            toastr['<%= type %>']('<%= msg %>');
          </script>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
