<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= favicon_link_tag('favicon.png') %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Sawarabi+Gothic" rel="stylesheet">
  </head>

  <body>
    <div class="html container-fluid">
      <%= render 'header' %>
      <div class="center-block">
        <!-- flash toastrの設定 -->
        <% flash.each do |type, msg| %>
          <% type = 'success' if type == 'success' %>
          <% type = 'error' if type == 'danger' %>
          <% type = 'warning' if type == 'alert' %>
          <script>
            toastr['<%= type %>']('<%= msg %>');
          </script>
        <% end %>
      </div>
      <%= yield %>
      <!-- フッター -->
      <footer class="blog-footer text-center mt-5">
       <p><%= link_to 'このブログについて', "#" %></p>
       <p>©️ 2019 Huttsu no Blog</p>
       </footer>
       <!-- フレーム -->
        <div id="websiteFrameTop" class="websiteFrame"></div>
        <div id="websiteFrameRight" class="websiteFrame"></div>
        <div id="websiteFrameBottom" class="websiteFrame"></div>
        <div id="websiteFrameLeft" class="websiteFrame"></div>
    </div>
  </body>
</html>
